<!-- Services Section Start -->
<section id="services" class="services section-padding">
    <h2 class="section-title wow flipInX" data-wow-delay="0.4s">What I do</h2>
    <div class="container">
      <div class="row">
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.3s">
            <div class="icon">
              <i class="icon-grid"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Build scalable web apps</a></h3>
              <p>Build robust and efficient web applications using ASP.NET Core, MVC, and Angular, ensuring high performance and user-friendly experiences.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.6s">
            <div class="icon">
              <i class="icon-layers"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Code and Debug</a></h3>
              <p>Write clean, efficient code in C#, JavaScript, and other technologies, and troubleshoot issues to maintain seamless application functionality.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="0.9s">
            <div class="icon">
              <i class="icon-briefcase"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Database Management</a></h3>
              <p>Design and manage SQL Server databases, ensuring data security, integrity, and optimal performance.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-3 col-xs-12">
          <div class="services-item wow fadeInDown" data-wow-delay="1.2s">
            <div class="icon">
              <i class="icon-bubbles"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Collaboration and Teamwork</a></h3>
              <p>Work closely with teams to brainstorm, develop, and deliver quality projects on time.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->