  <!-- About Section Start -->
  <section id="about" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s">
            <img class="img-fluid" src="assets/img/about/profile.jfif" alt="">
          </div>
        </div> 
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
            <h3>Hi Guys!</h3>
            <p><b>I'm Ajay</b>, a .NET Developer with 1 year of experience in building user-friendly applications using ASP.NET Core, MVC, and WinForms. I’m passionate about solving problems and delivering quality solutions. 🚀</p>
            <div class="about-profile">
              <ul class="admin-profile">
                <li><span class="pro-title"> Name </span> <span class="pro-detail">Ajay Narkhedkar</span></li>
                <li><span class="pro-title"> Age </span> <span class="pro-detail">23 Years</span></li>
                <li><span class="pro-title"> Experience </span> <span class="pro-detail">1 Year 7 Months</span></li>
                <li><span class="pro-title"> Country </span> <span class="pro-detail">India</span></li>
                <li><span class="pro-title"> Location </span> <span class="pro-detail">Pune, Maharashtra</span></li>
                <li><span class="pro-title"> e-mail </span> <span class="pro-detail"><a href="" class="__cf_email__">ajaynarkhedkar3&commat;gmail.com</a></span></li>
                <li><span class="pro-title"> Phone </span> <span class="pro-detail">+91 9673149372</span></li>
                <li><span class="pro-title"> Freelance </span> <span class="pro-detail">Available</span></li>
              </ul>
            </div>
            <a href="#" class="btn btn-common"><i class="icon-paper-clip"></i> Download Resume</a>
            <a href="#contact" class="btn btn-danger"><i class="icon-speech"></i> Contact Me</a>
          </div>
        </div>   
      </div>
    </div>
  </section>
  <!-- About Section End -->