<!-- Resume Section Start -->
<div id="resume" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Education</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">BE in Computer Science - Savitribai Phule Pune University (SPPU)</h3>
                  <span>2019 - 2023</span>
                  <p class="line-text">A Bachelor of Engineering in Computer Science graduate from Savitribai Phule Pune University (SPPU), Pune, Maharashtra, with a focus on building strong technical foundations. Gained in-depth knowledge of computer science concepts, programming, and problem-solving, preparing for a successful career in software development.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Higher Secondary School - Maharashtra State Board of Secondary and Higher Secondary Education (MSBSHSE)</h3>
                  <span>2017 - 2019</span>
                  <p class="line-text">I completed my 12th grade (HSC) in the Science stream, where I gained a solid understanding of key subjects and developed analytical and problem-solving skills that laid the groundwork for my career in technology.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Secondary School - Maharashtra State Board of Secondary and Higher Secondary Education (MSBSHSE). </h3>
                  <span>2017</span>
                  <p class="line-text">I completed my 10th grade (SSC) from a Marathi Medium School, where I built a strong academic foundation and developed essential skills in problem-solving, discipline, and determination.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">Experience</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Art Director - Tesla Inc.</h3>
                  <span>Jan 2018 - Present</span>
                  <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">UX/UI Designer - Samsung</h3>
                  <span>Nov 2016 - Dec 2017</span>
                  <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Intern UI Designer - UIdeck</h3>
                  <span>Mar 2015 - Oct 2016</span>
                  <p class="line-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume Section End -->